@model StreamSafari.ViewModel.ViewModels.UserViewModel
@{
    ViewBag.Title = "UserCreated";
}

<h2>UserCreated</h2>

<div class="col-md-10">
    @Html.DisplayFor(m => m.UserName, "User is Created Successfully")
   
</div>

